@media screen and (max-width:350px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    ul {
        padding: 0;
    }

    #hero {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cta {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 20px;
    }
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 0 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: #1f2937;
}

h1 {
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 0;
}

.hero-title {
    font-weight: 700;
}

.hero {
    background-color: #1f2937;
    color: white;
    padding: 70px 0;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0px 20px;
}



.sign-up {
    color: white;
    background-color: #3882F6;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    padding: 5px 25px;
}

.hero-left {
    text-align: left;
    max-width: 400px;
}

.hero-right {
    height: 150px;
    width: 360px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1f2937;
}

.box-container {
    text-align: center;
}

#info {
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
}

.boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes p {
    max-width: 150px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border: #3882F6;
    border-style: solid;
    border-radius: 15px;
    background-color: #e5e7eb;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

footer {
    display: flex;
    background: #1f2937;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px 0;
}

.cta-container {
    display: flex;
    padding: 50px 0;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 70px 0px;
}
.box-container h2 {
    margin-bottom: 42px;
}

.cta {
    display: flex;
    border-radius: 10px;
    background-color: #3882F6;
    color: white;
    align-items: center;
    padding: 20px 100px;
    justify-content: space-between;
    gap: 100px;
}

.left-cta h2 {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 20px;
}

.left-cta p {
    margin-top: 0;
    font-size: 15px;
}

.footer-signup {
    border:  white 2px;
    border-style: solid;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    padding: 5px 25px;
    background-color: #3882F6;
}

.quote-container {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quote {
    margin: 30px;
    display: flex;
    max-width: 400px;
    justify-content: space-between;
}

.quote-italics {
    font-style: italic;
    font-size: 25px;
    color: #1f2937;
    margin-bottom: 0;
}

.quote-by {
    margin-top: 0;
    text-align: right;
}

.content-container {
    display: flex;
    align-items: space-between;
    flex-direction: column;
}